/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Banner.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Banner_bannerContainer__IaiQ7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  position: relative;
  aspect-ratio: 16 / 9;
}

.Banner_bannerSlider__mWmaP {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.Banner_bannerSlide__tsXgu {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.Banner_bannerSlide__tsXgu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 指示器容器 */
.Banner_indicators__mcrnb {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 8px;
  z-index: 1;
  flex-direction: row;
}

/* 单个指示器 */
.Banner_indicator__Ut9nD {
  width: 60px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  transition: opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* 进度条 */
.Banner_indicator__Ut9nD::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(-100%);
}

/* 当前活动指示器的进度条动画 */
.Banner_indicator__Ut9nD.Banner_active__MYPtE::after {
  animation: Banner_progress__aRQmP 3s linear forwards;
  animation-play-state: running;
}

/* 暂停状态 */
.Banner_indicator__Ut9nD.Banner_active__MYPtE.Banner_paused__XI52j::after {
  animation-play-state: paused;
}

/* 进度条动画 */
@keyframes Banner_progress__aRQmP {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} 
